@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .custom-scroll {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #cbd5e0 transparent; /* Firefox */
  }

  /* Chrome, Safari, Edge */
  .custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #cbd5e0; /* Tailwind gray-400 */
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .custom-scroll:hover::-webkit-scrollbar-thumb {
    background-color: #a0aec0; /* Tailwind gray-500 on hover */
  }
}

* {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.05em;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}




.multiple-organization-select .grow {
  overflow: hidden;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbar if needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #7dd3fc; /* sky-300 background for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0ea5e9; /* sky-700 color for the thumb */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0284c7; /* Darker sky color on hover */
}

/* Custom scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Make the scrollbar thinner */
  scrollbar-color: #0ea5e9 #7dd3fc; /* thumb color, track color */
}
.custom-scrollbar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none !important; /* Ensure the scrollbar buttons are hidden */
}

.button-gradient {
  background: rgb(35, 106, 157);
  background: linear-gradient(
    90deg,
    rgba(35, 106, 157, 1) 0%,
    rgba(1, 191, 236, 1) 46%,
    rgba(35, 106, 157, 1) 100%
  );
  background-size: 200%;
  transition: background-position 0.5s ease;
}

.sidebar-select div[aria-expanded="false"] {
  border: none !important;
  outline: none;
}
.sidebar-select div[aria-expanded="false"]:focus {
  border: none !important;
  outline: none;
}

.MuiBox-root .css-19kzrtu {
  padding: 0 !important;
}

.client-contact-card {
  box-shadow: 7px 7px 13px #c1c1c1, -7px -7px 13px #ffffff;
}
.dark .client-contact-card {
  box-shadow: none !important;
}


/* Force autofill off in AG Grid cell editors */
.ag-cell-editor input {
  autocomplete: off !important;
}


.ag-cell-editor input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

/* Default light mode styles */
/* .ag-cell {
  background-color: white;
  color: black;
} */

/* Dark mode override for Aggrid */
.dark .ag-cell {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.dark .ag-header-cell {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.dark .ag-center-cols-viewport {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.dark .ag-overlay-no-rows-center {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.dark .ag-icon {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.dark .ag-ltr {
  background-color: #000000 !important;
  color: #ffffff !important;
}

/*for calender in sales*/
.dark .calender {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.dark .react-datepicker__month-container {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.dark .react-datepicker__header {
  background-color: #000000 !important;
}
.dark .react-datepicker__current-month {
  color: #ffffff !important;
}
.dark .react-datepicker__day-name {
  color: #ffffff !important;
}
.dark .react-datepicker__day {
  color: #ffffff !important;
}
.dark .react-datepicker__day:hover {
  background-color: #d1d1d1 !important; /* light grey */
  color: #000000 !important;
}
.dark .react-datepicker__day--disabled {
  color: #4c4a4a !important;
}
.dark .ag-theme-alpine {
  --ag-background-color: #121212;
  --ag-foreground-color: #e0e0e0;
  --ag-alpine-active-color: #2172c2;
  --ag-row-hover-color: #1e1e1e;
  --ag-selected-row-background-color: #1a2c3a;
  --ag-border-color: #333;
}
/*Apex Chart dark mode*/
.dark .apexcharts-canvas {
  background: #000000 !important;
  color: #ffffff !important;
}

.dark .apexcharts-text tspan {
    fill: #ffffff !important;
}

.dark .apexcharts-legend-text {
    position: relative;
    font-size: 14px;
    color: #ffffff !important;
}